.species-name, .empire-name {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: inherit;
  border: 0;
  background-color: #09110C;
  background-color: rgba(9, 17, 12, 1);
  color: #FFFFFF;
  padding: 8px;
  font-size: 18px;
}

.species-name {
  margin-bottom: 1em;
}

.species-history {
  height: 20em;
}

.species {
  padding: 16px;
  box-sizing: border-box;
}

.top-wrapper {
  display: flex;
}

.portrait-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-wrapper {
  width: 100%;
  padding: 8px;
}

.species-portrait {
  color: white;
  width: 64px;
  height: 64px;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  padding: 4px;
}

.portraits {
  margin-top: 1em;
  height: 20em;
  overflow-y: scroll;
  background-color: #09110C;
  background-color: rgba(9, 17, 12, 1);
  padding: 1em;
}

.portrait-type {
  color: white;
}

.portrait {
  margin: 4px;
  border: 1px solid transparent;
}

.portrait:hover {
  border: 1px solid rgb(144, 124, 74);
}
