html, body{
  height: 100%;
  background-image: url("http://vignette3.wikia.nocookie.net/stellarisgame/images/5/50/Wiki-background/revision/latest?cb=20150807230301");
  font-family: 'Orbitron', sans-serif !important;
}

ul {
  list-style-type: none;
  margin: 20px 0px 0px 20px;
  padding: 0px;
}

#main-row{
  height: 100vh;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

nav {
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);

  width: 300px;
  height: 100%;
  background-color: #152620;
}

h4 {
  text-align: center;
  font-weight: 100;
  margin-top: 0px;
}

li {

  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  height: 30px;
  background-color: #264636;
}


li:hover{
  background-color: rgba(255,255,255,0.6);
}

.empty, .empty:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #152620;
}

.categories {
  margin-bottom: 30px;
}

.categories * {
  font-weight: 100;
  color: white;
}

.categories a {
  font-size: 13px;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 100%;
    background-color: rgba(8, 15, 13, 0.7);
    -webkit-box-shadow: inset -12px -12px 13px -8px rgba(255,255,255,0.5);
    -moz-box-shadow: inset -12px -12px 13px -8px rgba(255,255,255,0.5);
    box-shadow: inset -12px -12px 13px -8px rgba(255,255,255,0.5);
}
