html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-image: url("http://i.imgur.com/LDY3Cyb.jpg");
  background-size: 100% 100%;
  font-family: 'Orbitron', sans-serif !important;
}

.me-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: stretch;
  min-height: 100%;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0px;
}

nav {
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  width: 300px;
  background-color: rgba(21,38,32,0.75);
  padding: 10px;
}

main {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 5px 30px;
}

.me-categories h4 {
  text-align: center;
  font-weight: 100;
  margin-top: 0px;
}

.me-categories li {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.61);
  height: 30px;
  background-color: #264636;
}


.me-categories  li:hover{
  background-color: rgba(255,255,255,0.6);
}

.me-categories .empty, .me-categories .empty:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.me-categories {
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
}

.me-categories * {
  font-weight: 100;
  color: white;
}

.me-categories a {
  display: block;
  font-size: 13px;
}


.profile {
    width: 100%;
    background-color: #152620;
    opacity: 0.95;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}
